# Hosting & Web Server
pyTelegramBotAPI==4.14.0
Flask==3.0.0
psutil==5.9.8
gunicorn==21.2.0

# Telegram Frameworks
python-telegram-bot>=21.11
aiogram==3.3.0

# Networking & Utilities
requests==2.31.0
aiohttp==3.9.3
beautifulsoup4==4.12.3
Pillow==10.2.0
pymongo==4.6.1
motor==3.3.2
dnspython==2.6.0
yt-dlp==2023.12.16
